{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
  <form class="form-horizontal" method="post" action=".">
    <fieldset>
      <legend>Авторизация</legend>
      {% csrf_token %}

      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Логин</label>
        <div class="col-lg-10">
          {{ form.username }}

        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Пароль</label>
        <div class="col-lg-10">
          {{ form.password }}

        </div>
      </div>

      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
        <input class="btn btn-default" type="hidden" name="next" value="{{ next }}" />
      </div>
    </fieldset>
  </form>

  <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
  <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
</div>
{% endblock %}
