{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <legend>Изменение пароля</legend>
    <form method="post" action="." class="form-horizontal">
      <fieldset>
      {% csrf_token %}
      {% bootstrap_form form label_class='col-lg-4 control-label' field_class='col-lg-5'%}
      <div class="form-group">
        <div class="col-md-10 col-lg-offset-4">
          <input onclick="$('#myPleaseWait').modal('show');" class="update-submit btn btn-primary" type="submit" value="Подтвердить">
        </div>
      </div>
      </fieldset>
    </form>
  </div>
</div>
{% endblock %}
