{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<head>
</head>
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <legend>Регистрация</legend>
      <form method="post" action="." class="form-horizontal">
        <fieldset>
        {% csrf_token %}
        {% bootstrap_form user_form label_class='col-lg-4 control-label' field_class='col-lg-5'%}
        <div class="col-md-10 col-md-offset-1" style="margin-bottom: 20px;">
          {{ form }}
        </div>
        <div class="form-group">
          <div class="col-md-10 col-lg-offset-4">
            <input onclick="$('#myPleaseWait').modal('show');" class="update-submit btn btn-primary" type="submit" value="Зарегистрироваться">
          </div>
        </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
{% endblock %}
