{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  {{ form.media.css }}
  <style type="text/css">
    div.col-md-10 > label {
      margin-right: 40px;
    }
    select {
      width: 380px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <form method="post" action="">
          {% csrf_token %}
          {{ form }}
        </form>
      </div>
    </div>
  </div>
<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript">
  window.onerror = function (msg) {
    $("body").attr("JSError", msg);
  }
</script>
{{ form.media.js }}
</body>
