{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container" style="border:1px solid #cecece;padding-top:15px;border-radius: 20px;">
    {% for key in data %}
    <br/>
      <div class="panel panel-default">
        <div class="panel-heading">{{key.question}}</div>
        <ul class = "list-group">
          {% for par in key.sAnswers %}
            {% if par in key.rAnswers %}
              <li class = "list-group-item list-group-item-success">{{par}}</li>
            {% else %}
              <li class = "list-group-item list-group-item-danger">{{par}}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
</div>
{% endblock %}
