{% extends "base.html" %}
{% load i18n %}
{% load mathfilters %}

{% block content %}
<div class="container">
  <h1>Результаты</h1>
  <h2>{{endFlag}}</h2>
  <h3>Общая статистика:</h3>
  Всего вопросов: {{ result.rightAnswers|add:result.wrongAnswers }} <br/>
  Из них правильно: {{result.rightAnswers}} <br/>
  Неправильно:  {{result.wrongAnswers}}<br/>
  <br/>
  <h3>Калибровочная часть:</h3>
  Всего вопросов: {{result.calibRight|add:result.calibWrong}}</br>
  Из них правильно: {{result.calibRight}}<br/>
  Неправильно: {{result.calibWrong}}
  <br/>
  <h3>Основная часть:</h3>
  Всего вопросов: {{result.mainRight|add:result.mainWrong}}</br>
  Из них правильно: {{result.mainRight}}<br/>
  Неправильно: {{result.mainWrong}}<br/>

  <a href="{% url 'tests:detailedReport' result.id%}">ПОДРОБНЫЙ ОТЧЁТ</a>
</div>
{% endblock %}
