{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <legend>Загрузка теста</legend>
      <form method="post" action="." class="form-horizontal" enctype="multipart/form-data">
        <fieldset>
          {% csrf_token %}
          {% bootstrap_form uploadForm layout='horizontal' %}
          <div class="col-md-10" style="margin-bottom: 20px;margin-left: 20px;">
            {{ groups }}
          </div>
          <div class="form-group">
            <div class="col-md-10 col-lg-offset-3">
              <input onclick="$('#myPleaseWait').modal('show');" class="update-submit btn btn-primary" type="submit" value="Загрузить">
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<!-- Modal Start here-->
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
    role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>  Пожалуйста, подождите
                 </h4>
            </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-info
                    progress-bar-striped active"
                    style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal ends Here -->
{% endblock %}
